@font-face {
  font-family: "Ruddy";
  src: url("../src/fonts/Ruddy/Ruddy-Bold.woff2") format("woff2"),
    url("../src/fonts/Ruddy/Ruddy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ruddy";
  src: url("../src/fonts/Ruddy/Ruddy-Regular.woff2") format("woff2"),
    url("../src/fonts/Ruddy/Ruddy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"),
    url("../src/fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/ProximaNova/ProximaNova-Semibold.woff2")
      format("woff2"),
    url("../src/fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"),
    url("../src/fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../src/fonts/ProximaNova/ProximaNova-LightIt.woff2") format("woff2"),
    url("../src/fonts/ProximaNova/ProximaNova-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
