@import "./reset.css";
@import "./fonts.css";
@import "./block-editor.css";

@import "./header.css";
@import "./footer.css";
@import "./page.css";
@import "./post.css";
@import "./legal.css";

:root {
  --primaryBlue1: #2b3849;
  --primaryBlue2: #3c4b5f;
  --primaryGray: #ced3d9;
  --secondaryYellow: #dfa01f;
  --secondaryBeige: #f1f1e6;
  --warningColor: #ff0000;

  --font-ruddy: "Ruddy", sans-serif;
  --font-proxima: "Proxima Nova", sans-serif;

  --font-h1: clamp(2.25rem, 10vw, 4rem);
  --line-height-h1: 1.2;
  --font-h2: 2.25rem;
  --line-height-h2: 1.1;
  --font-h3: 1.375rem;
  --line-height-h3: 1.4;
  --font-subtitle: 1.375rem;
  --line-height-subtitle: 1.2;
  --font-p: 1.125rem;
  --line-height-p: 1.2;
}
/* 
@media (min-width: 1024px) {
  :root {
    --font-h1: 4rem;
    --line-height-h1: 1.2;
    --font-h2: 3rem;
    --line-height-h2: 1.2;
    --font-h3: 1.375rem;
    --line-height-h3: 1.4;
    --font-subtitle: 1.5rem;
    --line-height-subtitle: 1.2;
    --font-p: 1.375rem;
    --line-height-p: 1.2;
  }
} */

body {
  font-family: var(--font-proxima);
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-ruddy);
  font-size: var(--font-h1);
  line-height: var(--line-height-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--font-h2);
  line-height: var(--line-height-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--font-h3);
  line-height: var(--line-height-h3);
  font-weight: 600;
}

.subtitle {
  font-size: var(--font-subtitle);
  line-height: var(--line-height-subtitle);
}

p {
  font-size: var(--font-p);
  line-height: var(--line-height-p);
}

.sub-menu {
  display: none;
}
.sub-menu.visible {
  display: block;
}

.swiper{
  overflow: hidden;
  width: 100%;
}
.swiper-wrapper{
  display: flex;
}
.swiper-slide{
  height: auto;
}
.btn {
  padding: 1.25rem 3.75rem;
  background-color: var(--secondaryYellow);
  border-radius: 100vmax;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.wp-block-separator {
  width: 10rem !important;
  margin-bottom: 3.75rem;
  background-color: var(--primaryBlue1);
}

@media (min-width: 1024px) {
  .wp-block-separator {
    display: none;
  }
}

.rank-math-html-sitemap__section {
  max-width: 56.5rem;
  margin: 0 auto;
  padding: 1rem;
}

.rank-math-html-sitemap__section h2,
.rank-math-html-sitemap__section h3 {
  margin-bottom: 1.5rem;
}

.rank-math-html-sitemap__section li {
  margin-bottom: 0.5rem;
}

.error-message-container {
  border: 1px solid rgb(192, 43, 10);
  background-color: hsl(11, 90%, 95%);
  color: rgb(192, 43, 10);
  font-size: 0.75rem;
  /* font-weight: 700; */
  /* font-style: italic; */
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
}

input.invalid {
  border-color: rgb(192, 43, 10) !important;
}

input[type="submit"]:disabled {
  /* background-color: gainsboro !important; */
  /* color: gray !important; */
  opacity: 1 !important;
  /* cursor: not-allowed !important; */
}

@media (min-width: 1024px) {
  .footer-menus>.social-icons{
    display: none;
  }
}
@media (max-width: 1023px) {
  .footer-menu-list {
    font-size: 12px;
  }

  .footer-menu {
    width: calc(100% / 3 - 14px);
  }

  .footer-contact {
    width: calc(100% - (100% / 3) - 6px);
    gap: 0;
  }

  .footer-contact .call-btn {
    margin-bottom: 26px;
  }
  .footer-contact, .footer-menu {
    gap: 0;
    color: #F1F1E6;
  }
  .footer-menus {
    gap: 20px;
  }
  .footer-menus .contact-item {
    align-items: flex-start;
    font-size: 12px;
  }
  .footer-menus .social-icons{
    width: 100%;
    margin-top: 0;
  }
  .footer-menus .footer-contact .social-icons{
    display: none;
  }
  .footer-menus {
    row-gap: 40px;
  }
  .polygon-icon-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 20px 0;
    margin: -20px 0;
  }

}